[submodule "duckdb"]
	path = duckdb
	url = https://github.com/txbm/duckdb.git
	branch = 1.5.2/stack
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main